@charset "utf-8";
html,body {padding: 0; margin: 0; list-style: none; font-size: 12px; font-family: Arial; line-height: 16px; cursor: default; color: #333333; -webkit-text-size-adjust: none;min-width: 1280px;background:#FAFAFA;height:100%;}
div,ul, li, dl, dd, dt, form, p, h1, h2, h3, h4, h5, h6, h7, input, select, pre,ins{ padding: 0; margin: 0; list-style: none; outline: none; font-size: 12px; text-decoration:none}
a { outline: none;cursor: pointer ;color:#333;}
table {border-collapse:collapse;border-spacing:0;}
input, textarea { font-family: Arial; }
.clearfix { *zoom: 1 }
.clearfix:after, .clearfix:before { display: block; clear: both; height: 0; font-size: 0; overflow: hidden; content: "" }
a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: none }
a img { border: none; }
.fr{float:right;}
.fl{float:left;}

/*框架样式*/
.limitLayout{max-width:1440px;margin:0 auto;padding:0 10px;}
.headMenu{height:70px;}
.menuChild{height:40px;}

/*头部样式*/
.header{box-shadow: 0 5px 9px #D8D8D8;background:#fff;}
.welcome{float:right;height:70px;line-height:70px;}
.welcome > span{ vertical-align:middle;}
.welcome .split{border-left:1px solid #EBEBEB;height:51px;display: inline-block;margin-left:15px;}
.welcome > ins{display:inline-block;vertical-align:middle;}
.welcome .peopleHead,.welcome .question,.menu .menuItem.selected .iTip,.welcome .clientHead{background:url(../images/toolbar/icons.png) left top no-repeat;}
.welcome .peopleHead{height:15px;width:15px; margin-left:15px;margin-right:20px;background-position:-58px top;}
.welcome .question{height:15px;width:13px;background-position:-87px top;}
.welcome .clientHead{height:13px;width:15px;background-position:-29px top;margin-right:5px;}
.logo{float:left;background:url(../images/logo/logo.png) center no-repeat;width:168px;height:70px;}
.menu{overflow:hidden;padding-left:12px;}
.menu .menuItem{color:#000000;float:left; height:70px;line-height:70px;padding:0 28px;font-size:16px;}
.menu .menuItem > span{cursor:pointer;}
.menu .menuItem .iTip{display:none;}
.menu .menuItem.selected{color:#009ae7;position: relative;z-index: 1;}
.menu .menuItem.selected .iTip{background-color: #fff;position:absolute;bottom:0px;width:14px;height:7px;display:block;left: 50%;margin-left: -7px;}
.subMenu{margin-left:189px;}
.subMenu .subMenuList{display:none;}
.subMenu .subMenuList.selected{display:block;}
.subMenu .subMenuList .subMenuItem{float:left;padding:0 5px;margin:0 15px;line-height:40px;font-size:14px;color:#333333;height:40px;cursor:pointer;}
.subMenu .subMenuList .subMenuItem.selected{color:#009ae7;}
.headMBtm{position:relative;}
.headMBtm .headBBorder{position:absolute;width:45px;height:1px;bottom:0px;}
.headMBtm .headBBorder.bbLeft{background:#fff url(../images/toolbar/header_bottom.png) right top no-repeat;left:0px;z-index:2;}
.headMBtm .headBBorder.bbRight{background:#fff url(../images/toolbar/header_bottom_right.png) left top no-repeat;right:0px;z-index:2;}
.headMBtm .headBBorder.bbLine{background:#fff url(../images/toolbar/head_btm.png) left top repeat;width:100%;left:0px;}

/*按钮*/
.wordBtn{ display:inline-block; padding:0 10px;min-width:40px; border:1px solid #E8E8E8; border-radius:12px; line-height:24px; font-size:12px; color:#333; cursor:pointer;text-align: center;background:#fff;}
.wordBtn.btnImg{min-width:20px;}
.wordBtn.selected{ border-color:#4AC9FF;}
.wordBtn:hover{ color:#22A7EA;}
.wordBtn:active{ color:#000; background-color:#F5F5F5;}
.wordBtn.active{ color:#000; background-color:#F5F5F5;}
.wordBtn.disabled{ color:#999 !important; background:#ECECEC !important; cursor:default !important;}

.wordBtn.btnIcon span{ padding:0 0 0 20px; background:url(../images/toolbar/btnNew.png) left center no-repeat;}

.wordBtn.blueWord{  line-height:24px; color:#FFF; background-color:#21b5ff; border:none;}
.wordBtn.blueWord:hover{ color:#FFF; background-color:#55C7FF;}
.wordBtn.blueWord:active{ color:#FFF; background-color:#25B4FB;}
.wordBtn.blueWord.active{ color:#FFF; background-color:#25B4FB;}

.wordBtn.blueIcon{ padding:0 13px; line-height:26px; color:#FFF; background-color:#32BBFF; border:none;}
.wordBtn.blueIcon:hover{ color:#FFF; background-color:#55C7FF;}
.wordBtn.blueIcon:active{ color:#FFF; background-color:#25B4FB;}
.wordBtn.blueIcon.active{ color:#FFF; background-color:#25B4FB;}
.wordBtn.blueIcon span{ padding-left:21px; background:url(../images/toolbar/searchBtn.png) left center no-repeat;}

/*tab 切换*/
.anaSearch > ul{ margin-top:15px; border-bottom:1px solid #E8E8E8; font-size:0;}
.anaSearch .typeBox{ position:relative; display:inline-block; padding:0 20px; line-height:32px; font-size:14px; cursor:pointer;}
.anaSearch .typeBox.selected{ border:1px solid #E8E8E8; border-bottom:none; border-top-left-radius:6px; border-top-right-radius:6px; color:#009AE7; cursor:default;}
.anaSearch .typeBox.selected:after{ content:""; position:absolute; bottom:-6px; left:50%; width:9px; height:6px; margin-left:-4px; background:  url(../images/toolbar/icons.png) -56px -48px no-repeat;}

/*搜索*/
.searchBox{ width:205px; padding:0 8px; border:1px solid #E3E3E3; border-radius:12px; background-color:#FFF;}
.searchBox .seaInput{ width:100%; height:22px; padding:0 16px 0 0; border:none; outline:none; box-sizing:border-box; line-height:22px;}
.searchBox .searchBtn{ position:absolute; top:4px; right:6px; z-index:102; display:inline-block; width:16px; height:16px; background:url(../images/toolbar/icons.png) -87px -47px no-repeat; cursor:pointer;}

/*分页右下角*/
.pagesBox{ height:26px; margin-top:30px; text-align:right;}


/*input style*/
.inputCon{ background:#fff;border-radius:3px;}
.inputCon .inputText{overflow:hidden;height:100%;padding-left:10px;}
.inputCon .inputText .inputVal{border:none;background:none;width:100%;line-height:18px;height:18px;padding:2px 0;}
.inputCon .dateTrigger{background:url(../images/toolbar/date_trigger.png) center no-repeat; float:right;width:15px;height:24px;margin-right:10px;}=======
.pagesBox{ height:26px; margin-top:30px; text-align:right;}

/*编辑图标 删除图标*/
.editIcon{ display:inline-block; width:16px; height:16px; background:url(../images/toolbar/icons.png) -110px -102px no-repeat; cursor:pointer;}
.deletaIcon{ display:inline-block; width:16px; height:16px; background:url(../images/toolbar/icons.png) -119px -47px no-repeat; cursor:pointer;}
.deleteIcon2{display:inline-block;vertical-align:middle;width:14px;height:14px;background:url(../images/other/deleteIcon.png) no-repeat;
}

/*列表 卡片显示图标*/
.showType .typeItem{ display:inline-block; width:16px; height:16px; font-size:12px; vertical-align:middle; background:url(../images/toolbar/icons.png) 0px 0px; cursor:pointer;}
.showType .typeItem.listType{ margin-right:8px; background-position:0 -22px;}
.showType .typeItem.listType.selected{ background-position:0px -46px;}
.showType .typeItem.cardType{ background-position:-28px -47px;}
.showType .typeItem.cardType.selected{ background-position:-28px -23px;}

/*左右布局表单架构*/
.formInputBox{ font-size:0;}
.formInputBox .inputThe{ display:inline-block; width:110px; height:24px; line-height:24px; font-size:12px; vertical-align:middle;}
.formInputBox .inputThe .inputStar{ padding-right:4px; color:red;}
.formInputBox .inputCon{ display:inline-block; font-size:12px; vertical-align:middle;}
.formInputBox .inputCon .inputItem{ height:20px; line-height:20px;}
